@import "btn_sign";

.MainLayout {
  display: flex;
  height: 100vh;
  font-family: Roboto;
  color: #e5e5e5;
  &__left-component {
    color: white;
    width: 40%;
    height: 100;
    background-color: #0078d7;
    font-style: normal;
    font-weight: normal;
    &--todos {
      font-size: 30px;
      font-weight: bold;
      line-height: 35px;
      margin-left: 30px;
      text-align: left;
    }
    &--signin {
      text-align: center;
    }
    h2 {
      font-size: 64px;
      line-height: 75px;
    }
    p {
      font-size: 30px;
      line-height: 35px;
    }
  }
  &__right-component {
    align-items: center;
    text-align: center;
    color: grey;
    width: 60%;
    font-style: normal;
    font-weight: normal;
    h1 {
      font-weight: bold;
      font-size: 30px;
      line-height: 35px;
      color: #0078d7;
    }
    p {
      font-weight: bold;
      font-size: 30px;
      line-height: 35px;
      color: #c4c4c4;
    }
    input {
      border-radius: 10px;
      border: 2px solid #c4c4c4;
      font-size: 40px;
      line-height: 47px;
      margin: 15px;
    }
  }
}
