.topnav {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  height: 20vh;
  h4 {
    padding-left: 40px;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: left;
  }

  &__signout-btn {
    padding-right: 40px;
    padding-top: 30px;
    text-align: right;
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
    background-color: transparent;
    border: transparent;
  }
  &__signout-btn:hover {
    color: grey;
  }
}
