.lists {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  border: solid 1px gray;
  margin-top: 5px;
  padding-left: 123px;
  background-color: transparent;
  transition: background-color .2s ease-out;
}
